header {
    color: white;
    background-color: #f6d8d8;
    padding: 1px 0 30px 0;
  }

header a {
    font-weight: bold;
    color: white;
  }

header #title {
    color: white;
    padding: 10px;
  }

.home {
  width: 60%;
  margin-left: 37%;

}

table {
    /* required. remove extra space between table cells */
    border-spacing: 0;
    table-layout: fixed;


    /* frame the table with a border on top and bottom */

    border-bottom: 2px solid #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;
  }

  table tr {
    /* default table background color */
    background-color: #ffecec;
  }

  table tr:nth-child(even) {
    /* alternate row color */
    background-color: #ffffff;
  }



  /* table headers */
  table th {
    text-align: left;
    font-weight: bold;
    /* required for scrolling table header: must specify color of cell */
    background-color: #f6d8d8;

    /* line underneath header */
    border-bottom: 1px solid #000000;

    /* spacing between cells */
    padding: 10px;

    /* scrolling table header */
    position: sticky;
    top: 0px;
  }

  /* table cells (not header data) */
  table td {
    text-align: left;
    font-weight: normal;

    /* cell border */
    /* border-bottom: 1px solid #000000; */

    /* spacing between cells */
    /* padding: 8px; */

    /* spacing between columns */
    padding-left: 8px;
    padding-right: 8px;
  }

  table th:first-of-type{
    border-top-left-radius: 20%;
  }

  table th:last-of-type{
    border-top-right-radius: 20%;
  }

  /* remove spacing between columns on last column */
  table td:last-child {
    padding-right: 8px;
  }

  .error {
    display: inline-block;
    background-color: white;
    border: 1px #b92467 solid;
    color: #b92467;
    padding: 5px;
    font-weight: bold;
  }

  main.home table td {
    height: 42px;
  }

  main.home table {
    width: 100%;
  }

  section {
    margin-left: 2%;
    width: 30%;
    margin-top: -300px;
  }
